body{
  background-color:  #F2F2F2;
}
.info{
  display:flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}
.info__cities{
  border:1px solid navy; 
  flex-basis: 30%; 
}
.info__landmarks{
  border:1px solid navy; 
  flex-basis: 30%;
}
.info__heads{
  border:1px solid navy; 
  flex-basis: 30%; 
}
.list__title{
  text-align: center; 
}
.info__item{
  list-style: circle; 
  font-size: 18px; 
}
.highlightCard{
 background-color: tan;
}