.intro {
display: flex;
flex-direction: column;
}


img {
  width: 1080px;
  height: 540px; 
}

.country {
  border: 2px solid navy;
  width: 100%;
  background-color: tan;
}


.country__name {
  text-align: center;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;

}